/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* Comentario */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif; 
    padding: 80px 20px 0;
    background-color: #aee0e5; 
}

header {
    position: fixed;
    background-color: #00f; 
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    color: #fff; 
}

aside {
    position: fixed;
    background-color: #7fffd4; 
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%;
}

section {
    overflow-y: scroll;
    position: fixed;
    background-color: #aee0e5; 
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 80%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;        
    text-align: center;
    background-color: yellow;
    color: red;
}

a {
    text-decoration: none;
    background-color: #00f; 
    color: #fff; 
}

a:hover {
    background-color: #000; 
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #00f; 
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #000; 
    color: #fff;
}
